.radial-shadow {
    background: radial-gradient(circle, rgba(41, 40, 40, 0.6) 78%, rgba(63, 62, 62, 0) 150%);
    
    box-shadow: inset -61px -60px 72px rgb(15, 15, 15);
    backdrop-filter: blur(2px);
  }
  